/* #walrus-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
} */
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
.dark-mode {
  background-color: black;
  color: pink;
}
#go-light {
  color: black;
  background-color: #e0fffc;
}

#go-dark {
  color: pink;
  background-color: black;
}